body {
  background-color: cyan;
}
h1 {
  color: blue;
  background-color: white;
}
li {
  background-color: pink;
}
li:nth-child(2) {
  background-color: magenta
}

#taco  {
  background-color: yellow
}
.white-background{
  background-color: white;
}
img {
  width: 50%
}
